.app-header {
    height: 50px;
    margin-left: 60px;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.my-container{
    width: fit-content;
    height: fit-content;
    margin-top: 50px;
    z-index: -1;
    float: right;
}
