<p-table #dt [value]="products" [(selection)]="selectedProducts" [selectionPageOnly]="true" dataKey="code"
    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
    [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['product.code','product.name']" styleClass="p-datatable-striped p-datatable-gridlines">
    <ng-template pTemplate="caption">
        <div class="d-flex mb-3">
            <button pButton label="New" class="p-button-success p-2 mr-2" icon="pi pi-plus" (click)="newClick()"></button>
            <button pButton label="Delete" class="p-button-dager p-2" disabled icon="pi pi-trash" (click)="deleteClick(dt)"></button>
            <button pButton icon="pi pi-cog" class="ms-auto p-2" (click)="parameterClick()"></button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 4rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="code" style="width:40%">Code <p-sortIcon field="code"></p-sortIcon></th>
            <th pSortableColumn="name" style="width:40%">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th style="width:10%">Actions</th>
        </tr>
        <tr>
            <th></th>
            <th>
                <p-columnFilter type="text" field="code"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="name"></p-columnFilter>
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="product">
            <td>
                <p-tableCheckbox [value]="product" [index]="ri"></p-tableCheckbox>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText [(ngModel)]="product.code" type="text">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{product.code}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="product.name" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{product.name}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <div class="flex align-items-center justify-content-center gap-2">
                    <button (click)="onRowEditInit(products)" *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"  class="p-button-rounded p-button-text mr-2"></button>
                    <button *ngIf="!editing" pButton pRipple type="button" pDeleteEditableRow icon="pi pi-trash" (click)="onRowDelete(ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(products)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(products, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
